{% extends 'Base/base.html' %}
{% block navbar %}
{% endblock %}
{% block content %}

{% if validlink %}
<center>
	<h2>Ingrese una nueva Contraseña</h2>
</center>

<form method="post">
	{% csrf_token %}

	{{ form.new_password1.errors }}
	<label for="id_new_password1">Nueva contraseña:</label>
	{{ form.new_password1 }}
	<br>
	{{ form.new_password2.errors}}
	<label for="id_new_password2">Confirme contraseña: </label> {{ form.new_password2}}
	<input type="submit" value="Cambiar mi contraseña"/>
</form>

{% else %}

<h1 class="text-center"> ENLACE INVÁLIDO: Este enlace ya ha sido utilizado</h1>

{% endif %}
{% endblock%}